body{
     background: #B2C7DF; 
}

header{
    background: rgba(27, 26, 94, 0.72);
    display: grid;
    grid-auto-flow: column;
}

.logo{
    padding-left: 8rem ;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.title{
    padding-top: 4rem;
    padding-right: 5rem;
    color: white;
}

#sec-form{
    display: grid;
    grid-auto-flow: column;
}

form{
    display: grid;
    grid-auto-flow: row;
}

label{
    font-weight: 400;
}
input{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.57);
    height: 54px;
}

button{
    background: #1B1A5E;
    border-radius: 10px;
    color: #FFFFFF;
    width: 244px;
    height: 52px;
    line-height: 39px;
    text-align: center;
    margin: 0 auto;
}

th{
    background: rgba(64, 123, 255, 0.55);
    border: 1px solid #767373;
    min-width: 100px;
}
